.dif-du {
  font-weight: 600;
  color: $black;
  opacity: 0.9;
}

.recipe-head h1 {
  max-width: 70%;
}

.show-img-container {
  height: 400px;
  background-size: cover;
  background-position: center;
}
