<div class="container mt-4">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <%= image_tag('Million-Dollar-Spaghetti.jpg', alt: 'Recipe Photo', class: 'img-fluid') %>
      <h1 class="my-4">English Breakfast</h1>
      <div class="d-flex justify-content-between">
        <span>Level: Easy</span>
        <span>⏱ 30 min</span>
      </div>
      <div>
        <span>★ 4.5</span>
      </div>
      <p class="my-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elitr, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      <div class="my-4">
        <button class="btn btn-outline-secondary btn-block dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#recipeSteps" aria-expanded="false" aria-controls="recipeSteps">
          Steps
        </button>
        <div class="collapse" id="recipeSteps">
          <div class="card card-body">
            <p>Step 1 of the recipe...</p>
            <p>Step 2 of the recipe...</p>
          </div>
        </div>
      </div>
      <div class="my-4">
        <button class="btn btn-outline-secondary btn-block dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#recipeComments" aria-expanded="false" aria-controls="recipeComments">
          Comments
        </button>
        <div class="collapse" id="recipeComments">
          <div class="card card-body">
            <p>Comment 1...</p>
            <p>Comment 2...</p>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-primary btn-lg btn-block">Start cooking</button>
    </div>
  </div>
</div>
