<div class="container mt-4">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <%= image_tag('Million-Dollar-Spaghetti.jpg', alt: 'Recipe Photo', class: 'img-fluid') %>
      <h1 class="my-4">English Breakfast</h1>
      <div class="d-flex justify-content-between">
        <span>Level: Easy</span>
        <span>⏱ 30 min</span>
      </div>
      <div>
        <span>★ 4.5</span>
      </div>
      <p class="my-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit...
      </p>
      <div class="my-4">
        <h2>Steps:</h2>
      </div>
      <div class="my-4">
        <h2>Comments:</h2>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block">Start cooking</button>
    </div>
  </div>
</div>
