<div class="simple_form form-group bg-white">
  <div data-controller="search-form">
      <div class="my-3">
        <label class="form-label string required">Appliances</label>
        <div class="d-flex justify-content-start align-items-center">
          <input class="form-control string required form-control mb-0 flex-grow-1" type="text">
          <button class="border-0 bg-white mx-3" data-action="click->search-form#addToList"><i class="fa-solid fa-plus"></i></button>
          <button class="border-0 bg-white mx-3" data-action="click->search-form#toggleList"><i class="fa-solid fa-caret-down"></i></button>
        </div>
        <ul class="list-group">
          <% if user_signed_in? %>
            <% current_user.preference.appliances.each do |appliance| %>
              <li class="list-group-item bg-white">
                <div class="d-flex justify-content-start align-items-center">
                  <p id='appliances' class="my-1 flex-grow-1"> <%= appliance.capitalize %> </p>
                  <div data-action="click->search-form#delete" class="mx-3"><i class="fa-solid fa-circle-xmark"></i></div>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="my-3">
        <label class="form-label string required">Ingredients</label>
        <div class="d-flex justify-content-start align-items-center">
          <input class="form-control string required form-control mb-0 flex-grow-1" type="text">
          <button class="border-0 bg-white mx-3" data-action="click->search-form#addToList"><i class="fa-solid fa-plus"></i></button>
          <button class="border-0 bg-white mx-3" data-action="click->search-form#toggleList"><i class="fa-solid fa-caret-down"></i></button>
        </div>
        <ul class="list-group">
          <% if user_signed_in? %>
            <% current_user.preference.ingredients.each do |ingredient| %>
              <li class="list-group-item bg-white">
                <div class="d-flex justify-content-start align-items-center">
                  <p id='ingredients' class="my-1 flex-grow-1"> <%= ingredient.capitalize %> </p>
                  <div data-action="click->search-form#delete" class="mx-3"><i class="fa-solid fa-circle-xmark"></i></div>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="my-3">
        <label class="form-label string required">Diet</label>
        <div class="d-flex justify-content-start align-items-center">
          <input class="form-control string required form-control mb-0 flex-grow-1" type="text">
          <button class="border-0 bg-white mx-3" data-action="click->search-form#addToList"><i class="fa-solid fa-plus"></i></button>
          <button class="border-0 bg-white mx-3" data-action="click->search-form#toggleList"><i class="fa-solid fa-caret-down"></i></button>
        </div>
        <ul class="list-group">
          <% if user_signed_in? %>
            <% current_user.preference.diet.each do |diet| %>
              <li class="list-group-item bg-white">
                <div class="d-flex justify-content-start align-items-center">
                  <p id='diet' class="my-1 flex-grow-1"> <%= diet.capitalize %> </p>
                  <div data-action="click->search-form#delete" class="mx-3"><i class="fa-solid fa-circle-xmark"></i></div>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="my-3">
        <label class="form-label string required">Allergies</label>
        <div class="d-flex justify-content-start align-items-center">
          <input class="form-control string required form-control mb-0 flex-grow-1" type="text">
          <button class="border-0 bg-white mx-3" data-action="click->search-form#addToList"><i class="fa-solid fa-plus"></i></button>
          <button class="border-0 bg-white mx-3" data-action="click->search-form#toggleList"><i class="fa-solid fa-caret-down"></i></button>
        </div>
        <ul class="list-group">
          <% if user_signed_in? %>
            <% current_user.preference.allergies.each do |allergy| %>
              <li class="list-group-item bg-white">
                <div class="d-flex justify-content-start align-items-center">
                  <p id='allergies' class="my-1 flex-grow-1"> <%= allergy.capitalize %> </p>
                  <div data-action="click->search-form#delete" class="mx-3"><i class="fa-solid fa-circle-xmark"></i></div>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="my-3">
        <label class="form-label string required mt-3" for="search_level">Level<abbr title="required">*</abbr></label>
        <select id='level' class="form-control string required form-control" name="search[level]" id="search[level]">
          <% if user_signed_in? && current_user.preference.level == 'beginner' %>
            <option value="beginner" selected='selected'>Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
          <% elsif user_signed_in? && current_user.preference.level == 'intermediate' %>
            <option value="beginner">Beginner</option>
            <option value="intermediate" selected='selected'>Intermediate</option>
            <option value="Advanced">Advanced</option>
          <% elsif user_signed_in? && current_user.preference.level == 'advanced' %>
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="Advanced" selected='selected'>Advanced</option>
          <% else %>
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
          <% end %>
        </select>
      </div>
      <div class="my-3">
        <label class="form-label string required">Duration</label>
        <div class="d-flex justify-content-start align-items-center">
          <input id='duration' class="form-control string required form-control mb-0 flex-grow-1" type="text">
        </div>
        </ul>
      </div>

      <div class="d-flex justify-content-center">
        <button class="btn btn-info" data-action="click->search-form#search">Search</button>
      </div>
</div>
