<div class="container mt-3">
<%= link_to 'javascript:void(0)', onclick: 'window.history.back(); return false;' do %>
      <i class="back fa-solid fa-backward" style="color: #699158;"></i>
    <% end %>
  <div data-controller="cooking" class="row">
    <div class="d-flex justify-content-center p-3"><h1><%= title "Start cooking:" %></h1>
    </div>
    <% JSON.parse(@recipe.instructions).each do |instruction| %>
      <div id="instruction" class="col-md-12 mb-4 d-none">
          <div class="card instruction-content d-flex flex-column p-3 justify-content-center align-items-center">
            <p> <%= instruction %> </p>
          </div>
          <div class="d-flex justify-content-between align-item-center">
            <button data-action="click->cooking#previous" class="btn btn-outline-secondary">Previous</button>
            <button data-action="click->cooking#next" class="btn btn-outline-secondary">Next</button>
          </div>
        </div>
    <% end %>
    <div class="d-flex justify-content-center">
      <%= link_to root_path do %>
        <button id="end-button"class="btn btn-outline-secondary d-none">Go back to home page</button>
      <% end %>
    </div>
  </div>
</div>
