<div class="container text-center pt-5">
  <h3>Recipe search</h3>
  <%= link_to 'javascript:void(0)', onclick: 'window.history.back(); return false;' do %>
    <i class="fa-solid fa-backward-step"></i>
  <% end %>
  <%= render partial: "pages/preference_edit" %>
</div>
