<div class="container text-center pt-5">
  <h3>Recipe search</h3>
  <% if user_signed_in? %>
    <%= render partial: "pages/search", user: @user %>
  <% else %>
    <%= render partial: "pages/search" %>
  <% end %>
</div>
