<div class="container mt-3">
  <%= link_to 'javascript:void(0)', onclick: 'window.history.back(); return false;' do %>
      <i class="fa-solid fa-backward-step"></i>
  <% end %>
</div>
<div class="container mt-3">
  <h3>Recipe search</h3>
  <% if user_signed_in? %>
    <%= render partial: "pages/search", user: @user %>
  <% else %>
    <%= render partial: "pages/search" %>
  <% end %>
</div>
