.banner {
  padding: 60px;
  background-image: url('banner.jpg');
  background-size: cover;
  color: white;
  font-size: 30px;
  height: 50vh;
  position: relative;
  // text-shadow: 2px 2px 4px #000000;
}

.overlay {
  width: 100%;
  height: 100%;
}

.searchbutton {
  padding: 16px 32px;
  margin-top: 16px;
  background-color: $white;
  color: $black;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  text-decoration: none;
}

#cookbud {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

#welcome {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
