.reset-btn {
  background-color: #669158;
  color: #ffffff;
  border: 1px solid #669158;
  padding: 8px;
}

.reset-h2 {
  text-align: center;
}

.reset-card {
  border: 2px solid #669158;
  border-radius: 4px;
}

.custom-log {
  color: #669158;
  text-decoration: none;
}

.custom-signin {
  color: #669158;
  text-decoration: none;
}

.custom-forgot {
  color: #669158;
  text-decoration: none;
}
