.navbar-margin {
  margin-top: 50px;
}

.navigation-bar {
  height: 50px;
  width: 100%;
  background-color: $white;
  position: sticky;
  top: 0;
  padding: 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgba($color: #000000, $alpha: 0.1);
}

.navigation-bar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.navigation-bar-link {
  text-decoration: none;
  color: $black;
}

.navigation-bar-logo {
  height: 40px;
}
