.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  text-align: center;
  margin-top: 8px;
  justify-content: center;
  padding: 1rem;
}

.custom-btn2 {
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: $c_primary;
  color: $white;
  border: 2px solid $c_primary;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  display: inline-block;
  width: 100%;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  margin-top: 24px;
  padding: 24px;
  object-fit: cover;
  background-color: $white;
  border: 1px solid $c_primary;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-avatar-container {
  .card-header {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.preferences-header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.appliance-label, .ingredient-label {
  margin-left: 1rem;
}


.appliance-tags, .ingredient-tags {
  display: flex;
  flex-wrap: wrap;
  // margin-bottom: 0.5rem;
  // margin-top: 0.5rem;
  // margin-left: 40px;
}

.edit-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #fff;
  padding: 0.25rem;
  border-radius: 50%;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: black;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #669158;
  white-space: nowrap;
  margin: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 30px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
