.container {
  margin: 3rem auto;
  padding: 0 15px;
  max-width: 1200px;
}

.recipe-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  transition: box-shadow 0.3s ease;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  background-color: white;
}

.recipe-card a {
  text-decoration: none;
}

.card-img {
  width: 100%; /* Ensures the image fills the container */
  height: auto; /* Maintains aspect ratio */
  object-fit: cover; /* Covers the area, useful if the image isn't square */

}
.card-body {
  background: #ffffff;
  padding: 20px;
}

.card-title,
.card-subtitle {
  margin-bottom: 0.5rem;
  padding: 10px 0;
  font-size: 1rem;
  text-decoration: none;
}

.card-title {
  color: #000;
}

.card-subtitle,
.text-muted {
  color: #808080;
  font-size: 0.9rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  align-items: center;
  padding: 10px;
}

.style1 {
  color: #808080;
}

.style2 {
  color: #808080;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 100%; /* Controls the image size */
  height: 200px; /* Matches width for consistency */
  margin: auto;
  overflow: hidden; /* Ensures nothing extends beyond the border-radius */
}
