/* Container to center and limit the width of the entire block */
.container {
  margin: 3rem auto; /* Top and bottom margin with auto horizontal margins for centering */
  padding: 0 15px; /* Padding to ensure content does not touch the edges */
  max-width: 1200px; /* Maximum width of the container, adjust as necessary */
}

/* Row to handle the layout of cards */
.row {
  display: flex;
  justify-content: center; /* Centers the cards horizontally */
  flex-wrap: wrap; /* Allows cards to wrap to new lines */
  gap: 20px; /* Space between cards, adjust as necessary */
}

/* Card styling */
.recipe-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  transition: box-shadow 0.3s ease;
  width: 100%; /* Ensures card width is responsive */
  max-width: 300px; /* Maximum width of the card, adjust based on your design */
  margin: 0 auto; /* Centers the card within its flex container */
}

.recipe-card a {
  text-decoration: none;
}

.recipe-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-body {
  background: #ffffff;
  padding: 20px; /* Added padding for internal spacing */
}

.card-title, .card-subtitle, .text-muted {
  margin-bottom: 0.5rem;
  padding: 10px 0;
  font-size: 1rem;
  text-decoration: none;
}

.card-title {
  color: #000;
}

.card-subtitle, .text-muted {
  color: #808080;
  font-size: 0.9rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  align-items: center;
  padding: 10px;
}
