.recipe-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  transition: box-shadow 0.3s ease;
  max-width: 90%;
  margin: 0 auto;
}

.recipe-card a {
  text-decoration: none;
}

.recipe-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-body {
  background: #ffffff; /* White background for the text area */
}

.card-title {
  font-size: 1.2rem;
  color: #000; /* Black color for the title */
  margin-bottom: 0.5rem;
  text-decoration: none;
  padding: 10px 0; /* Remove underline */
}

.card-subtitle {
  font-size: 0.8rem;
  color: #808080; /* Grey color for the text */
  margin-bottom: 0.5rem;
  text-decoration: none;
  padding: 10px 0; /* Remove underline */
}

.card-footer {
  display: flex;
  justify-content: space-between;
  background: #ffffff; /* White background for the meta area */
  align-items: center;
  padding: 10px;
}

.text-muted {
  font-size: 0.9rem;
  color: #555;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.title-and-difficulty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-title,
.difficulty {
  margin-bottom: 0;
}

.difficulty {
  font-size: 1rem;
  color: #000;
}

.col-md-12 {
  display: flex;
  justify-content: center;
}
