// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import "star-rating.js/dist/star-rating.css";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/star_reviews";
@import "components/Search_form";
@import "components/button";
@import "components/profile";
@import "components/reviews_users";

body {
  background-image: url("background.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}
